<br>
<br>
<div class="contenido">
<div class="container">
  <div class="col-md-6 input-group">
    <span  class="input-group-addon">Buscar</span>
    <input type="text" id="filtrar" class="form-control" placeholder="Buscar">
  </div>
  <br>
  <table border="1" class="table">
    <thead>
      <tr>
      <th>primer</th>
      <th>segundo</th>
      <th>tercero</th>
      </tr>
    </thead>

  <tbody class="buscar">
    <tr>
      <td>primero</td>
      <td>segudno</td>
      <td>tercero</td>
    </tr>
  </tbody>
  </table>
</div>
</div>
