<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-4">
    <select name="" id="" class="form-control">
      <option value="">Ocacion</option>
      <option value="">Seleccion 2</option>
    </select>
    </div>
  </div>
</div>

<div class="new_arrivals_agile_w3ls_info">
  <div class="container">
    <div class="row">
      <div class="col-md-3 product-men">
          <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
              <img src="./assets/images/m1.jpg" alt="" class="pro-image-front">
              <img src="./assets/images/m1.jpg" alt="" class="pro-image-back">
                <div class="men-cart-pro">
                  <div class="inner-men-cart-pro">
                    <a href="#" class="link-product-add-cart">Ver Mas</a>
                  </div>
                </div>
            </div>
            <div class="item-info-product ">
              <h4><a href="single.html">Formal Blue Shirt</a></h4>
              <div class="info-product-price">
                <span class="item_price">$45.99</span>
              </div>
              <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                  <input type="submit" name="submit" value="Agregar Al Carrito" class="button" />
              </div>
            </div>

          </div>
      </div>
      <div class="col-md-3 product-men">
          <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
              <img src="./assets/images/m1.jpg" alt="" class="pro-image-front">
              <img src="./assets/images/m1.jpg" alt="" class="pro-image-back">
                <div class="men-cart-pro">
                  <div class="inner-men-cart-pro">
                    <a href="single.html" class="link-product-add-cart">Ver Mas</a>
                  </div>
                </div>

            </div>
            <div class="item-info-product ">
              <h4><a href="single.html">Formal Blue Shirt</a></h4>
              <div class="info-product-price">
                <span class="item_price">$45.99</span>
              </div>
              <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                  <input type="submit" name="submit" value="Agregar Al Carrito" class="button" />
              </div>

            </div>
          </div>
      </div>

      <div class="col-md-3 product-men">
          <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
              <img src="./assets/images/m1.jpg" alt="" class="pro-image-front">
              <img src="./assets/images/m1.jpg" alt="" class="pro-image-back">
                <div class="men-cart-pro">
                  <div class="inner-men-cart-pro">
                    <a href="single.html" class="link-product-add-cart">Ver Mas</a>
                  </div>
                </div>

            </div>
            <div class="item-info-product ">
              <h4><a href="single.html">Formal Blue Shirt</a></h4>
              <div class="info-product-price">
                <span class="item_price">$45.99</span>
              </div>
              <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                  <input type="submit" name="submit" value="Agregar Al Carrito" class="button" />
              </div>

            </div>
          </div>
      </div>



      <div class="col-md-3 product-men">
          <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
              <img src="./assets/images/m1.jpg" alt="" class="pro-image-front">
              <img src="./assets/images/m1.jpg" alt="" class="pro-image-back">
                <div class="men-cart-pro">
                  <div class="inner-men-cart-pro">
                    <a href="single.html" class="link-product-add-cart">Ver Mas</a>
                  </div>
                </div>

            </div>
            <div class="item-info-product ">
              <h4><a href="single.html">Formal Blue Shirt</a></h4>
              <div class="info-product-price">
                <span class="item_price">$45.99</span>
              </div>
              <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                  <input type="submit" name="submit" value="Agregar Al Carrito" class="button" />
              </div>

            </div>
          </div>
      </div>

    </div>


  </div>
</div>
<!-- //new_arrivals -->
