<div class="side-nav">
    <nav>
        <ul>
            <li>
                <a href="#">
                    <span><i class="fa fa-user"></i></span>
                    <span>dashboard</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="fa fa-envelope"></i></span>
                    <span>pedidos</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="fa fa-bar-chart"></i></span>
                    <span>producto venta</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="fa fa-credit-card-alt"></i></span>
                    <span>usuarios</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="fa fa-credit-card-alt"></i></span>
                    <span>validar pedido</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="fa fa-credit-card-alt"></i></span>
                    <span>ofertas</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="fa fa-credit-card-alt"></i></span>
                    <span>clientes</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="fa fa-credit-card-alt"></i></span>
                    <span>Empresa</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="container"></div>
