<div class="login">
   <a [routerLink]="['/login']"><i class="fa fa-unlock-alt"></i> Ingresar|</a>
</div>
<div class="logo_agile">
  <h1><a href="#"><span>P</span>asteles <img src="./assets/images/m1.jpg" alt="" width="55px" height="55px"><span>Q</span>uee's </a> </h1>

</div>
<div class="navbar">
  <ul class="menu">
    <li><a [routerLink]="['/index']">inicio</a></li>
    <li><a [routerLink]="['/pasteles']">Pasteles</a> </li>
    <li><a [routerLink]="['/panaderia']">Panaderia</a> </li>
    <li><a [routerLink]="['/postres']">Postres</a> </li>
    <li><a [routerLink]="['/acercade']">sobre Nosotros</a></li>
  </ul>
</div>
