<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-6">
    <select name="" id="" class="form-control">
      <option value="">Seleccionar</option>
      <option value="">Seleccion 2</option>
    </select>
    </div>
  </div>
</div>

<div class="new_arrivals_agile_w3ls_info">
  <div class="container">
    <div class="row">
      <div class="col-md-3 product-men">
          <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
              <img src="./assets/images/m1.jpg" alt="" class="pro-image-front">
              <img src="./assets/images/m1.jpg" alt="" class="pro-image-back">
                <div class="men-cart-pro">
                  <div class="inner-men-cart-pro">
                    <a [routerLink]="['/view-more']" class="link-product-add-cart">Ver Mas</a>
                  </div>
                </div>
            </div>
            <div class="item-info-product ">
              <h4><a href="single.html">Formal Blue Shirt</a></h4>
              <div class="info-product-price">
                <span class="item_price">$45.99</span>
              </div>
              <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                  <input type="submit" name="submit" value="Agregar Al Carrito" class="button" (click)="open(carrito)" />
              </div>
            </div>

          </div>
      </div>
    </div>
  </div>
</div>
<!-- //new_arrivals -->

          <!--
modal para realizar el modal de pedido

         -->
            <div class="card">
                <ng-template #carrito let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">Comprar Pasteles</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                      <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <label for="">nombre:&nbsp;&nbsp;</label><input type="text">

                            </div>

                            <div class="col-md-4">
                                <img src="./assets/images/m1.jpg" alt="" width="120px" height="150px">
                            </div>

                        </div>

                      </div>





                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" (click)="c('Close click')">Realizar pedido</button>
                        <button type="button" class="btn btn-danger" (click)="c('Close click')">cerrar</button>

                    </div>
                </ng-template>
            </div>
